{% include site-url.html %}
{% assign schema_url = site_url %}
{% assign schema_author_name = site.author.name | default: "Xibin Zhou" %}
{% assign pub_description = page.summary | default: page.excerpt | markdownify | strip_html | strip_newlines %}
{% assign pub_url = page.url | replace: "index.html", "" | prepend: schema_url %}
{% assign pub_doi = nil %}
{% if page.paperurl contains "doi.org/" %}
  {% assign pub_doi = page.paperurl | split: "doi.org/" | last %}
{% elsif page.paperurl contains "10." %}
  {% assign pub_doi = page.paperurl | split: "/" | last %}
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ page.title | markdownify | strip_html | strip_newlines | jsonify }},
  "description": {{ pub_description | jsonify }},
  "url": {{ pub_url | jsonify }},
  "datePublished": {{ page.date | date: "%Y-%m-%d" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ schema_author_name | jsonify }},
    "url": {{ schema_url | jsonify }}{% if site.author.orcid %},
    "sameAs": {{ site.author.orcid | jsonify }}{% endif %}
  }{% if page.venue %},
  "isPartOf": {
    "@type": "PublicationIssue",
    "name": {{ page.venue | jsonify }}
  }{% endif %}{% if pub_doi %},
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "DOI",
    "value": {{ pub_doi | jsonify }}
  },
  "sameAs": {{ page.paperurl | jsonify }}{% elsif page.paperurl %},
  "sameAs": {{ page.paperurl | jsonify }}{% endif %}
}
</script>
