---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.math %}
      {% include mathjax.html %}
    {% endif %}
  </head>

  <body class="{% if page.layout %}layout--{{ page.layout }}{% endif %}{% if page.classes %}{% for c in page.classes %} layout--{{ c }}{% endfor %}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
